<mat-card style="margin:2%;">
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="submitHireMe(formGroup.value)">
<mat-vertical-stepper labelPosition="bottom" formArrayName="formArray" linear>
  <mat-step label="Your Information" formGroupName="0" [stepControl]="formArray?.get([0])">

    <div>
      <p>
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input type="text" matInput placeholder="" class="form-control" formControlName="fullName">
        <mat-icon matSuffix>person</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      </p>

      <p>
      <mat-form-field appearance="outline">
        <mat-label>Designation</mat-label>
        <input type="text" matInput placeholder="">
        <mat-icon matSuffix>business_center</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      </p>
      <p>
      <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input type="text" matInput placeholder="">
        <mat-icon matSuffix>phone</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      </p>
      <p>
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input type="email" matInput placeholder="">
        <mat-icon matSuffix>email</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      </p>
    </div>

    <div>
        <button mat-raised-button matStepperNext type="button">Next</button>
    </div>

  </mat-step>
  <mat-step label="Company Information" formGroupName="1" [stepControl]="formArray?.get([1])">

    <div>
      <p>
      <mat-form-field appearance="outline">
        <mat-label>Your Company Name</mat-label>
        <input type="text" matInput placeholder="">
        <mat-icon matSuffix>business</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      </p>
      <p>
      <mat-form-field appearance="outline">
        <mat-label>Your Company Website</mat-label>
        <input type="URL" matInput placeholder="">
        <mat-icon matSuffix>link</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      </p>
    </div>
    <div>
        <button mat-raised-button matStepperPrevious type="button">Back</button>
        <button mat-raised-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>
  <mat-step label="Expectation" formGroupName="2" [stepControl]="formArray?.get([2])">
    <div>
      <p>
      <mat-form-field appearance="outline">
        <mat-label>Expected Role</mat-label>
        <input type="text" matInput placeholder="">
        <!-- <mat-icon matSuffix>role</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      </p>
      <p>
      <mat-form-field appearance="outline">
        <mat-label>Expected Technology Stack</mat-label>
        <input type="text" matInput placeholder="">
        <!-- <mat-icon matSuffix>tech</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      </p>
      <p>
      <mat-form-field appearance="outline">
        <mat-label>Expected CTC</mat-label>
        <input type="number" matInput placeholder="">
        <!-- <mat-icon matSuffix>money</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      </p>
      <p>
      <mat-form-field appearance="outline">
      <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
      </p>
    </div>
    <div>
        <button mat-raised-button matStepperPrevious type="button">Back</button>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
</form>
</mat-card-content>
</mat-card>
