<mat-sidenav-container class="container">
  <mat-sidenav #drawer mode="side" opened role="navigation" class="sidenav">
    <mat-card>
        <img mat-card-lg-image src="assets/images/Photo.jpg" alt="Photo of Pranav Gupta">
    </mat-card>
    <mat-card>
      <mat-card-title>Pranav Gupta</mat-card-title>
      </mat-card>

      <mat-card-subtitle><mat-icon>mail</mat-icon>guptapranav360@gmail.com</mat-card-subtitle>
      <mat-card-subtitle><mat-icon>phone</mat-icon>9997955899</mat-card-subtitle>
      <mat-card-subtitle><mat-icon>location-on</mat-icon>India</mat-card-subtitle>

    <mat-nav-list>
      <a mat-list-item routerLink='/about'>About</a>
      <a mat-list-item routerLink='/experience'>Experience</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
