<body>
		<section id="cd-timeline" class="cd-container">
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<img src="assets/images/road.svg" alt="Picture">
				</div> <!-- cd-timeline-img -->
				<mat-card class="cd-timeline-content">
					<mat-card-title-group>
					<mat-card-title>Present</mat-card-title>
					<mat-card-subtitle>Journey Continues</mat-card-subtitle>
					</mat-card-title-group>
					<mat-card-content>I want your company to be a part of this timeline.</mat-card-content>
					<span class="cd-date"></span>
				</mat-card>
			</div>

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<img src="assets/images/suitcase.svg" alt="Picture">
				</div> <!-- cd-timeline-img -->
				<mat-card class="cd-timeline-content">
					<mat-card-title-group>
					<mat-card-title>Tata Consultancy Services</mat-card-title>
					<mat-card-subtitle>Experience Energy</mat-card-subtitle>
					</mat-card-title-group>
					<mat-card-content>I started my corporate life as a developer at Tata Consultancy Services.</mat-card-content>
					<span class="cd-date">19<sup>th</sup> July 2018</span>
				</mat-card>
			</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="assets/images/college-graduation.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->
			<mat-card class="cd-timeline-content">
				<mat-card-title-group>
				<mat-card-title>Bachelor of Technology</mat-card-title>
				<mat-card-subtitle>Meerut Institute of Engineering and Technology</mat-card-subtitle>
				</mat-card-title-group>
				<mat-card-content>Completed my graduation in Computer Science and Engineering with an aggregate of 77.98%</mat-card-content>
				<span class="cd-date">June 2018</span>
			</mat-card>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="assets/images/open-book.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->
			<mat-card class="cd-timeline-content">
				<mat-card-title-group>
				<mat-card-title>Higher Secondary Certificate</mat-card-title>
				<mat-card-subtitle>St. Thomas English Medium School</mat-card-subtitle>
				</mat-card-title-group>
				<mat-card-content>Completed my 12<sup>th</sup> with an aggregate of 83.6%</mat-card-content>
				<span class="cd-date">March 2014</span>
			</mat-card>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="assets/images/open-book.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->
			<mat-card class="cd-timeline-content">
				<mat-card-title-group>
				<mat-card-title>Secondary School Certificate</mat-card-title>
				<mat-card-subtitle>St. Thomas English Medium School</mat-card-subtitle>
				</mat-card-title-group>
				<mat-card-content>Completed my 10<sup>th</sup> with an aggregate of 90.7%</mat-card-content>
				<span class="cd-date">March 2012</span>
			</mat-card>
		</div>

		</section>
</body>
